{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block body %}
    <h1>Nos produits</h1>
    <div class="container text-center">
        <div class="row justify-content-start">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="product-item">
                        <a href="{{ path('product',{'slug':product.slug}) }}"><img src="/images/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"></a>
                        <h4>{{ product.name }}</h4>
                        <span class="product-subtitle">{{ product.subtitle }}</span>
                        <span class="product-price">{{ (product.price/100)|number_format(2,',','.')}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
